@use "sass:math";
// pxからremへの計算式
// 例：rem(32) → 2rem
@function rem($pixels) {
  @return math.div($pixels, 16) * 1rem;
}

// 数値のみを取り出す
// 例：strip-unit(16px) → 16
@function strip-unit($number) {
  @if type-of($number) == "number" and not unitless($number) {
    @return math.div($number, $number * 0 + 1);
  }
  @return $number;
}

// フォントサイズ ÷ 画面幅 * 100vw の計算
// 例：vw(1250px, 16px) → 16px ÷ 1250px × 100vw
@function vw($window_width, $size) {
  @return math.div($size, $window_width) * 100vw;
}

// インナー幅
$innerWidth: 1024px;
// 余白
$padding-pc: 25px;
$padding-sp: 20px;
// フォント
$font-main: "";
// 色指定
$black: #483c34;
$white: #fff;
// ブレイクポイント
$breakpoints: (
  sm: 480,
  md: 767,
  lg: 1024,
  xl: 1440,
);
// メディアクエリ
$mediaquerys: (
  sm: "screen and (max-width: #{map-get($breakpoints,'sm')}px)",
  md: "screen and (max-width: #{map-get($breakpoints,'md')}px)",
  lg: "screen and (max-width: #{map-get($breakpoints,'lg')}px)",
  xl: "screen and (max-width: #{map-get($breakpoints,'xl')}px)",
);
// メディアクエリを "@include mq(){}" で書くことができる
@mixin mq($mediaquery: md) {
  @media #{map-get($mediaquerys, $mediaquery)} {
    @content;
  }
}

// 基本設定
body {
  color: $black;
  overflow-x: hidden;
  width: 100%;
}

p {
  line-height: calc(32 / 16);
  @include mq(sm) {
    line-height: calc(53 / 32);
  }
}

p:empty {
  display: none;
}

.sec {
  .sec__inner {
    max-width: 1000px;
    margin: 0 auto;
    @include mq(sm) {
      padding: 0 15px;
    }
  }
}

#page {
  float: left;
  max-width: 700px;
  margin: 0;
  padding: 60px 0;
  width: 100%;
  @include mq(sm) {
    padding: 22px 0;
  }
}

.cf {
  min-height: 1px;
}
.cf:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#column {
  .toc_parts {
    border: 1px solid #707070;
    border-radius: 30px;
    margin: 30px auto 70px;
    padding: 20px 30px 20px 40px;
    box-sizing: border-box;
    position: relative;
    max-width: 600px;
    @include mq(sm) {
      border-radius: 15px;
      margin: 20px auto 45px;
      padding: 20px 22px 12px 22px;
    }
    .ttl {
      margin: 0 auto 15px;
    }
    &__txtArea {
      max-width: 100%;
      width: 100%;
    }
  }
  #toc {
    .chapter {
      .chapter-h.chapter-h-two {
        padding: 0 0 0 38px;
        margin: 6px 0 0 0;
        @include mq(sm) {
          padding: 0 0 0 20px;
          line-height: calc(42 / 28);
        }
        &::before {
          top: 10px;
        }
      }
    }
  }
}

.content-column {
  .contents {
    max-width: 1000px;
    margin: 0 auto;
  }
}

.contents {
  h1 {
    background: #f6f6f6;
    background-size: 12px auto;
    border-radius: 30px;
    color: #483c34;
    font-size: 28px;
    font-weight: bold;
    padding: 25px 40px 25px 40px;
    display: block;
    text-align: left;
    position: relative;
    box-shadow: 3px 6px 0 #adcc08;
    position: relative;
    margin: 20px auto;
    @include mq(sm) {
      margin: auto 15px;
      font-size: 20px;
      padding: 20px 40px 20px 40px;
    }
    &:before {
      content: "";
      position: absolute;
      left: -10px;
      top: 0;
      width: 40px;
      height: 43px;
      background: url(../img/h1_treat.png) left top no-repeat;
      background-size: 40px auto;
      @include mq(sm) {
        width: 30px;
        height: 36px;
        background-size: 30px;
        left: 0;
        top: -10px;
      }
    }
  }
  h2 {
    font-size: 26px;
    border-bottom: 1px solid #d5d5d5;
    padding: 0 0 18px 35px;
    position: relative;
    margin: 0 0 25px;
    @include mq(sm) {
      font-size: 18px;
      padding: 0 0 10px 20px;
      margin: 0 0 20px;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 20px;
      height: 20px;
      background: #ee8204;
      border-radius: 50%;
      left: 0;
      top: 10px;
      @include mq(sm) {
        width: 14px;
        height: 14px;
        top: 5px;
      }
    }
  }
  h3 {
    font-size: 22px;
    position: relative;
    padding: 0 0 0 30px;
    margin: 0 0 35px;
    @include mq(sm) {
      font-size: 18px;
      padding: 0 0 0 12px;
      line-height: calc(39 / 36);
      margin: 0 0 25px;
    }
    &::before {
      position: absolute;
      content: "";
      display: block;
      width: 4px;
      height: 100%;
      background: #ee8204;
      left: 0;
      top: 5px;
      @include mq(sm) {
        top: 0;
        width: 2px;
      }
    }
  }
  h4 {
    font-size: 18px;
    color: #ee8204;
    margin: 0 0 20px;
    @include mq(sm) {
      font-size: 18px;
      line-height: calc(39 / 36);
    }
  }
  .col2 {
    width: calc(100% / 2 - 14px);
    margin: 0 20px 0 0;
    @include mq(sm) {
      width: 100%;
      margin: 0 0 20px 0;
    }
    &:nth-child(2n) {
      margin: 0;
    }
  }
  .col3 {
    width: calc(100% / 3 - 14px);
    margin: 0 20px 0 0;
    @include mq(sm) {
      width: 100%;
      margin: 0 0 20px;
    }
    &:nth-child(3n) {
      margin: 0;
    }
  }
  p {
    span {
      color: #483c34;
      border-bottom: 2px solid #adcc08;
      font-weight: bold;
    }
  }
  ul {
    margin: 3rem 0;
    ul {
      padding-bottom: 0px;
    }
    li {
      padding: 0px 0px 10px 25px;
      font-size: 15px;
      position: relative;
      color: #483c34;
      line-height: 1.7;
      &::before {
        width: 12px;
        height: 12px;
        background: #b4b4b4;
        border-radius: 50%;
        position: absolute;
        top: 0.8rem;
        left: 0;
        content: "";
      }
    }
  }
  ol {
    margin-top: 65px;
    margin-bottom: 25px;
    @include mq(sm) {
      padding: 0;
    }
    li {
      padding: 0px 0px 10px 30px;
      font-size: 15px;
      position: relative;
      counter-increment: li;
      line-height: 1.8;
      &::before {
        box-sizing: border-box;
        width: 20px;
        height: 20px;
        padding-top: 4px;
        font-size: 14px;
        line-height: 1;
        color: #adcc08;
        text-align: center;
        content: counter(li);
        position: absolute;
        top: 3px;
        left: 0;
        font-weight: bold;
      }
    }
  }
  table th,
  table td {
    word-break: break-all;
  }
  table {
    width: 100%;
    margin: 4rem 0;
    @include mq(sm) {
      margin: 3rem 0;
    }
    th {
      padding: 20px 10px;
      border: 1px solid #fff;
      background: #d5d5d5;
      width: 27%;
      @include mq(sm) {
        padding: 8px 4%;
        display: block;
        border: none;
        width: 92%;
      }
    }
    td {
      padding: 20px 30px;
      border: 1px solid #fff;
      background: #f6f6f6;
      @include mq(sm) {
        display: block;
        padding: 8px 4%;
        border: none;
        border: none;
      }
    }
  }
}

.float-wrap {
  margin: 4rem 0;
  box-sizing: border-box;
  @include mq(sm) {
    margin: 25px 0 10px;
  }
  .float-img {
    &.ct {
      margin: 0 auto;
      padding: 0 0 2rem 0;
      text-align: center;
      @include mq(sm) {
        max-width: 315px;
        margin: 0 auto;
        padding: 0;
      }
    }
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .flame {
    position: relative;
  }
  .caption {
    font-size: 12px;
    text-align: center;
  }
}

.btn-internal {
  margin: 20px auto;
  a {
    max-width: 350px;
    margin: 0 auto;
    padding: 27px 40px;
    font-size: 20px;
    background: #adcc08 url(../img/arrow_white.png) no-repeat right 20px center;
    background-size: 34px auto;
    @include mq(sm) {
      font-size: 17px;
      padding: 18px 40px;
      max-width: 300px;
      margin: 0 auto;
      background: #adcc08 url(../img/arrow_white.png) no-repeat right 15px
        center;
      background-size: 21px auto;
    }
  }
  &.page-in {
    max-width: 196px;
    margin: 0;
    &.sp {
      font-size: 17px;
      padding: 18px 40px;
      max-width: 300px;
      display: block;
      position: relative;
      margin: 30px auto 0;
      background: #fff url(../img/arrow-or.png) no-repeat right 20px center;
      background-size: 16px auto;
      border: 2px solid #ee8204;
      border-radius: 5rem;
      box-sizing: border-box;
      color: #ee8204;
      font-weight: 700;
      line-height: 1.4;
      text-align: center;
      text-decoration: none;
    }
  }
}

.btn-link,
p.btn-link {
  margin: 35px auto;
  padding: 0;
  text-align: right;
  @include mq(sm) {
    margin: 20px auto;
  }
  a {
    position: relative;
    padding: 10px 30px 10px 0;
    background: url(../img/arrow-or.png) no-repeat right center;
    background-size: 16px auto;
    color: #483c34;
    font-size: 16px;
    line-height: 1.4;
    text-decoration: underline;
    font-weight: bold;
    @include mq(sm) {
      display: block;
      position: relative;
      max-width: 300px;
      margin: 0 auto;
      padding: 20px 40px;
      background: #fff url(../img/arrow-or.png) no-repeat right 20px center;
      background-size: 16px auto;
      border: 2px solid #ee8204;
      border-radius: 5rem;
      box-sizing: border-box;
      color: #ee8204;
      font-size: 17px;
      font-weight: 700;
      line-height: 1.4;
      text-align: center;
      text-decoration: none;
    }
  }
}

.insta__wrapper {
  .insta__title {
    margin: 45px auto 0;
    font-size: 16px;
    text-align: center;
    max-width: 205px;
    padding: 7px 10px;
    background: #fff;
    border-radius: 43px;
    border: 1px solid #483c34;
    position: relative;
    color: #483c34;
    font-weight: bold;
    @include mq(sm) {
      font-size: 14px;
      margin: 35px auto 0;
      max-width: 175px;
      padding: 4px;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: -24px;
      left: 50%;
      margin-left: -15px;
      border: 14px solid transparent;
      border-top: 11px solid #fff;
      z-index: 2;
      @include mq(sm) {
        bottom: -20px;
      }
    }
    &:after {
      content: "";
      position: absolute;
      bottom: -27px;
      left: 50%;
      margin-left: -17px;
      border: 16px solid transparent;
      border-top: 12px solid #483c34;
      z-index: -1;
      @include mq(sm) {
        bottom: -23px;
      }
    }
  }
  .btn-insta {
    margin: 10px auto;
    @include mq(sm) {
      margin: 6px auto 20px;
    }
    a {
      display: block;
      position: relative;
      max-width: 350px;
      margin: 0 auto;
      padding: 14px 40px;
      background: url(../img/arrow_insta.png) no-repeat right 20px center,
        transparent
          linear-gradient(
            79deg,
            #ffb100 0%,
            #f95307 24%,
            #d62775 73%,
            #730277 100%
          );
      box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.2);
      border: 2px solid #fff;
      border-radius: 5rem;
      box-sizing: border-box;
      color: #fff;
      font-size: 20px;
      font-weight: 700;
      line-height: 1.4;
      text-align: center;
      text-decoration: none;
      background-size: 27px auto, 100% auto;
      @include mq(sm) {
        font-size: 17px;
        background-size: 21px auto, 100% auto;
        max-width: 300px;
      }
      &::before {
        content: "";
        display: block;
        position: absolute;
        left: 10px;
        top: 10px;
        width: 62px;
        height: 62px;
        background: url(../img/icon_insta.png) no-repeat left center;
        background-size: 62px auto;
        @include mq(sm) {
          background-size: 38px auto;
          width: 38px;
          height: 38px;
          left: 15px;
          top: 20px;
        }
      }
      .sm {
        font-size: 16px;
        color: #fff;
        border: none;
        @include mq(sm) {
          font-size: 15px;
        }
      }
    }
  }
}

.date-tag-wrap {
  width: 100%;
  margin: 10px auto 0;
  @include mq(sm) {
    width: 100%;
  }
  .date-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    background: #f6f6f6;
    text-align: center;
    padding: 8px 40px;
  }
  .date-tags {
    padding: 12px 4px;
    display: flex;
    @include mq(sm) {
      padding: 10px 0 20px;
    }
  }
  .tags-inline {
    margin: 0;
    padding: 0;
    .tags-inline-list {
      display: inline-block;
      text-align: center;
      position: relative;
      align-items: center;
      box-sizing: border-box;
      font-size: 14px;
      color: #fff;
      border-radius: 5px;
      @include mq(sm) {
        padding: 2px 8px;
        font-size: 18px;
      }
      a {
        color: #fff;
        background: #b4b4b4;
        margin: 0 10px 10px 0;
        padding: 2px 8px;
        display: inline-block;
        border-radius: 5px;
      }
    }
  }
}

.cmn02-text-banner-box__image img {
  max-width: 100%;
  height: auto;
  image-rendering: -webkit-optimize-contrast;
  object-fit: cover;
  @include mq(sm) {
    width: 100%;
    object-fit: cover;
    object-position: center center;
    left: 0;
    max-width: 100%;
  }
}

.index-banner_pc {
  margin: 5rem 0 0 0;
  position: fixed;
  right: 0;
  bottom: 2rem;
  z-index: 310;
  display: none;
  @include mq(sm) {
    bottom: -10px;
  }
  a {
    text-decoration: none;
    &:hover {
      opacity: 0.6;
    }
  }
}

.image-banner-box {
  max-width: 220px;
  @include mq(sm) {
    max-width: 100%;
  }
}

.l-chance {
  .sec__inner {
    max-width: 685px;
    margin: 0 auto;
  }
}

.l-genre {
  .txtArea {
    .date {
      text-align: right;
      color: #b4b4b4;
      margin: 40px auto 0;
      @include mq(sm) {
        margin: 15px auto 0;
      }
    }
  }
  .date-tag-wrap {
    .date-title {
      font-size: 17px;
      color: #ee8204;
      position: relative;
      text-align: left;
      background: none;
      padding: 0 0 0 25px;
      margin: 0;
      @include mq(sm) {
        font-size: 18px;
        margin: 0;
      }
      &::before {
        content: "";
        position: absolute;
        display: block;
        left: 0;
        top: 10px;
        width: 18px;
        height: 5px;
        background: #ee8204;
      }
    }
  }
  .imgArea {
    text-align: center;
    margin: 10px auto;
    img {
      border-radius: 20px;
      @include mq(sm) {
        border-radius: 10px;
      }
    }
  }
}

.l-connect {
  @include mq(sm) {
    margin: 70px auto 0;
  }
  .headArea {
    .ttl {
      border: none;
      &::before {
        content: none;
      }
    }
  }
  .item_wrapper {
    background: #f6f6f6;
    padding: 25px 30px 10px;
    border-radius: 30px;
    @include mq(sm) {
      padding: 25px 23px 10px;
    }
    .item_box {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      border-radius: 30px;
      margin: 0 auto;
      .img_box {
        max-width: 200px;
        width: calc(100% / 2 - 15px);
        margin: 0 30px 0 0;
        @include mq(sm) {
          width: 100%;
          max-width: 100%;
          margin: -20px auto 20px;
          text-align: center;
        }
      }
      .box-body {
        position: relative;
        max-width: 400px;
        width: 100%;
        .tag {
          background: #adcd2f;
          padding: 4px 8px;
          color: #fff;
          display: inline-block;
          font-weight: bold;
          margin: 0 auto 5px;
        }
        .catch {
          margin: 15px auto 8px;
          font-size: 18px;
          font-weight: bold;
          line-height: calc(32 / 18);
          @include mq(sm) {
            line-height: calc(42 / 36);
            margin: 0 auto 8px;
          }
        }
        .companyName {
          font-size: 14px;
          margin: 5px auto;
        }
        .btn-internal {
          &.page-in {
            margin: 0 0 0 auto;
            @include mq(sm) {
              margin: 20px auto;
              max-width: 300px;
            }
            a {
              position: relative;
              padding: 10px 40px 10px 0;
              background: url(../img/arrow-or.png) no-repeat right 20px center;
              background-size: 16px auto;
              color: #483c34;
              font-size: 16px;
              line-height: 1.4;
              text-decoration: underline;
              border: none;
              text-align: right;
              @include mq(sm) {
                display: block;
                position: relative;
                max-width: 460px;
                margin: 0 auto;
                padding: 20px 40px;
                background: #fff url(../img/arrow-or.png) no-repeat right 20px
                  center;
                background-size: 16px auto;
                border: 2px solid #ee8204;
                border-radius: 5rem;
                box-sizing: border-box;
                color: #ee8204;
                font-size: 16px;
                font-weight: 700;
                line-height: 1.4;
                text-align: center;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
  .caseBtn {
    max-width: 196px;
    padding: 10px;
    border: 1px solid #483c34;
    border-radius: 43px;
    margin: 40px auto;
    a {
      display: block;
      width: 100%;
      color: #483c34;
      font-size: 18px;
      background: #fff url(../img/arrow_br.png) no-repeat right 10px center;
      box-shadow: none;
      text-decoration: none;
      text-align: center;
      background-size: 16px auto;
    }
  }
}

.l-item {
  margin: 85px auto 140px;
  @include mq(sm) {
    margin: 150px auto 0;
  }
  .headArea {
    max-width: 950px;
    margin: 0 auto;
    .ttl {
      font-size: 22px;
      font-weight: bold;
      position: relative;
      padding: 0 0 0 0;
      margin: 20px auto;
      color: #adcc08;
      border: none;
      text-align: center;
      @include mq(sm) {
        padding: 0;
      }
      &:before {
        content: none;
      }
    }
  }
  .boxArea {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 80px;
    @include mq(sm) {
      margin: 0 auto 30px;
    }
    .box {
      margin: 0 20px 0 0;
      @include mq(sm) {
        margin: 0 auto;
      }
      .itemBox {
        background: #f6f6f6;
        padding: 20px;
        border-radius: 20px;
        @include mq(sm) {
          padding: 30px 20px;
          margin: 0 auto 30px;
        }
        .imgBox {
          width: 100%;
          max-width: 300px;
          img {
            width: 100%;
            border-radius: 10px;
          }
        }
      }
      .boxTag {
        background: #adcd2f;
        padding: 4px 8px;
        color: #fff;
        display: inline-block;
        font-weight: bold;
        margin: 10px auto 0;
        font-size: 13px;
      }
      .boxTit {
        font-size: 18px;
        color: #483c34;
        font-weight: bold;
        margin: 15px auto 5px;
        line-height: calc(26 / 18);
        @include mq(sm) {
          line-height: calc(42 / 36);
        }
      }
      .date {
        font-size: 16px;
        color: #b4b4b4;
        text-align: right;
        margin: 5px auto 0;
        @include mq(sm) {
          font-size: 14px;
        }
      }
      &:nth-child(3n) {
        margin: 0;
      }
    }
  }
  .caseBtn {
    max-width: 240px;
    padding: 15px 20px;
    border: 1px solid #483c34;
    border-radius: 43px;
    font-weight: bold;
    margin: 40px auto;
    @include mq(sm) {
      max-width: 220px;
      padding: 20px 40px;
      margin: 30px auto;
    }
    a {
      display: block;
      width: 100%;
      color: #483c34;
      font-size: 18px;
      box-shadow: none;
      text-decoration: none;
      text-align: center;
      position: relative;
      padding: 0 20px 0 0;
      &::before {
        position: absolute;
        content: "";
        display: block;
        right: 20px;
        width: 28px;
        height: 28px;
        background: url(../img/arrow_br.png) no-repeat right center;
        background-size: 16px auto;
        @include mq(sm) {
          right: 0;
        }
      }
    }
  }
}
