@use "sass:math";
// pxからremへの計算式
// 例：rem(32) → 2rem
@function rem($pixels) {
  @return math.div($pixels, 16) * 1rem;
}

// 数値のみを取り出す
// 例：strip-unit(16px) → 16
@function strip-unit($number) {
  @if type-of($number) == "number" and not unitless($number) {
    @return math.div($number, $number * 0 + 1);
  }
  @return $number;
}

// フォントサイズ ÷ 画面幅 * 100vw の計算
// 例：vw(1250px, 16px) → 16px ÷ 1250px × 100vw
@function vw($window_width, $size) {
  @return math.div($size, $window_width) * 100vw;
}

// インナー幅
$innerWidth: 1024px;
// 余白
$padding-pc: 25px;
$padding-sp: 20px;
// フォント
$font-main: "";
// 色指定
$black: #483c34;
$white: #fff;
// ブレイクポイント
$breakpoints: (
  sm: 480,
  md: 767,
  lg: 1024,
  xl: 1440,
);
// メディアクエリ
$mediaquerys: (
  sm: "screen and (max-width: #{map-get($breakpoints,'sm')}px)",
  md: "screen and (max-width: #{map-get($breakpoints,'md')}px)",
  lg: "screen and (max-width: #{map-get($breakpoints,'lg')}px)",
  xl: "screen and (max-width: #{map-get($breakpoints,'xl')}px)",
);
// メディアクエリを "@include mq(){}" で書くことができる
@mixin mq($mediaquery: md) {
  @media #{map-get($mediaquerys, $mediaquery)} {
    @content;
  }
}

.cmn02-text-banner-box__image img {
  max-width: 100%;
  height: auto;
  image-rendering: -webkit-optimize-contrast;
  object-fit: cover;
  @include mq(sm) {
    width: 100%;
    object-fit: cover;
    object-position: center center;
    left: 0;
    max-width: 100%;
  }
}

.index-banner_pc {
  margin: 5rem 0 0 0;
  position: fixed;
  right: 0;
  bottom: 2rem;
  z-index: 310;
  display: none;
  @include mq(sm) {
    bottom: -10px;
  }
  a {
    text-decoration: none;
    &:hover {
      opacity: 0.6;
    }
  }
}

.image-banner-box {
  max-width: 220px;
  @include mq(sm) {
    max-width: 100%;
  }
}
