@use "global" as *;

.visArea_form {
  background: url(img/lower-mv.png) center no-repeat #fcf4e7;
  min-height: 260px;
  margin: 0 auto;
  @include mq(sm) {
    background: url(img/lower-mv_sp.png) center no-repeat #fcf4e7;
    background-size: auto 100%;
    min-height: 100%;
  }
  .mainArea {
    max-width: 290px;
    margin: 0 auto;
    text-align: center;
    padding: 85px 0 82px;
    @include mq(sm) {
      padding: 32px 0 50px;
    }
    .sitename {
      font-size: 36px;
      font-weight: bold;
      line-height: calc(50 / 36);
      @include mq(sm) {
        font-size: 18px;
      }
    }
  }
  &.inquiry {
    .mainArea {
      padding: 108px 0 80px;
      @include mq(sm) {
        padding: 43px 0 50px;
      }
    }
  }
}

.form_contactArea {
  max-width: 900px;
  margin: 0 auto;
  .frame-wrap {
    display: block;
    margin: -35px auto 60px;
    @include mq(sm) {
      padding: 0 15px;
      max-width: 340px;
      margin: -35px auto 40px;
    }
    .frame.type-c {
      background: #fff;
      border: 1px solid #483c34;
      border-radius: 30px;
      padding: 45px 25px 45px;
      display: flex;
      justify-content: space-between;
      position: relative;
      z-index: 0;
      @media screen and (max-width: 480px) {
        padding: 12px 15px 30px;
        flex-direction: column;
        border-radius: 15px;
        max-width: 340px;
      }
      .txtArea {
        max-width: 600px;
        width: 100%;
        margin: 0 -85px 0 0;
      }
      .frame-body {
        @include mq(sm) {
          padding: 0;
        }
      }
      .txt_box {
        font-size: 24px;
        font-weight: bold;
        padding: 0 0 0 120px;
        background: url(img/bubble02.png) left no-repeat;
        @include mq(sm) {
          font-size: 13px;
          background: url(img/bubble02_sp.png) left no-repeat;
          background-size: 45px auto;
          padding: 0 0 0 47px;
        }
        span {
          font-size: 32px;
          color: #ee8204;
          @include mq(sm) {
            font-size: 17.5px;
          }
        }
      }
      .img_box {
        margin: -48px -25px -55px 0;
        position: relative;
        z-index: -1;
        @include mq(sm) {
          margin: -60px -15px -30px 0;
          max-width: 130px;
          margin-left: auto;
        }
      }
    }
  }
}

.stepBox {
  margin: 60px auto 45px;
  @include mq(sm) {
    max-width: 225px;
    margin: 30px auto 0;
  }
  .step {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    position: relative;
    padding: 0;
    @include mq(sm) {
      margin: 0 auto 25px;
    }
    li:nth-child(2n) {
      padding: 0;
      height: 2px;
      width: 40%;
      background: #b2a79f;
      position: relative;
      top: 30px;
      @include mq(sm) {
        top: 15px;
      }
    }
    li:nth-child(2) {
      &:has(+ .active) {
        background: #adcc08;
      }
    }
    li:nth-child(4) {
      &:has(+ .active) {
        background: #adcc08;
      }
    }
    .active {
      .num {
        background: #adcc08;
      }
      p:not([class]) {
        color: #adcc08;
      }
    }
    .num {
      background: #b2a79f;
      width: 62px;
      height: 62px;
      border-radius: 50%;
      display: grid;
      place-content: center;
      font-size: 20px;
      font-weight: bold;
      color: #fff;
      margin: 0 auto 5px;
      @include mq(sm) {
        font-size: 12px;
        width: 31px;
        height: 31px;
        margin: 0 auto 1px;
      }
    }
    p:not([class]) {
      color: #b2a79f;
      font-size: 26px;
      font-weight: bold;
      text-align: center;
      margin: 5px auto 15px;
      line-height: calc(39 / 26);
      @include mq(sm) {
        font-size: 14px;
        margin: 1px auto 15px;
      }
    }
  }
  &.inquiry {
    margin: 65px auto 38px;
    @include mq(sm) {
      margin: 38px auto 26px;
    }
  }
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="tel"]:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
  opacity: 0.7;
}

.form {
  .form_inner {
    max-width: 1000px;
    margin: 0 auto;
    @include mq(sm) {
      padding: 0 15px;
    }
  }
  .form_inputBox {
    padding: 60px 35px 20px;
    background: #f6f6f6;
    border-radius: 30px;
    margin: 0 auto 180px;
    @include mq(sm) {
      padding: 40px 18px;
      margin: 0 auto 85px;
    }
    .form-head {
      text-align: center;
      margin: 0 auto 45px;
      @include mq(sm) {
        margin: 0 auto 16px;
      }
      .head__inner {
        max-width: 630px;
        margin: 0 auto;
      }
      .form-tit {
        font-size: 26px;
        font-weight: bold;
        @include mq(sm) {
          font-size: 18px;
        }
        + p {
          margin: 8px auto 16px;
        }
      }
      p {
        &.form-txt {
          font-size: 16px;
          margin: 36px auto;
          @include mq(sm) {
            font-size: 12px;
            margin: 25px auto 25px;
            line-height: calc(32.16 / 24);
          }
        }
      }
      p:not([class]) {
        @include mq(sm) {
          font-size: 13px;
          margin: 12px auto 16px;
        }
      }
    }
    dl {
      padding-bottom: 21px;
      display: flex;
      align-items: flex-start;
      margin: 0;
      @include mq(sm) {
        flex-wrap: wrap;
        padding: 0;
      }
      dt {
        flex: 0 0 220px;
        line-height: 1.2;
        font-weight: bold;
        min-height: 55px;
        display: flex;
        align-items: center;
        @include mq(sm) {
          flex: 0 0 250px;
        }
        p {
          display: flex;
          line-height: calc(26 / 18);
          align-items: center;
          font-size: 18px;
          margin: 10px auto 15px;
          @include mq(sm) {
            margin: 8px auto 4px;
            font-size: 16px;
          }
        }
        span.required {
          display: inline-block;
          background: #e25925;
          padding: 4px 14px;
          border-radius: 30px;
          color: #fff;
          margin: 0 10px 0 0;
          font-size: 16px;
          line-height: calc(29 / 18);
          font-weight: 400;
          @include mq(sm) {
            font-size: 12px;
            padding: 1px 8px;
            margin: 0 5px 0 0;
          }
        }
        span.any {
          display: inline-block;
          background: #676565;
          padding: 4px 14px;
          border-radius: 30px;
          color: #fff;
          margin: 0 10px 0 0;
          font-size: 16px;
          line-height: calc(29 / 18);
          font-weight: 400;
          @include mq(sm) {
            font-size: 12px;
            padding: 1px 8px;
            margin: 0 5px 0 0;
          }
        }
      }
      &:nth-child(9) {
        dt {
          p {
            margin: 8px auto 16px;
            @include mq(sm) {
              margin: 8px auto 6px;
            }
          }
        }
      }
      dd.name {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .name-last,
        .name-first {
          max-width: 340px;
          width: 48%;
          p {
            display: inline-block;
          }
          input {
            max-width: 340px;
            width: 100%;
          }
        }
        .name-last {
          margin: 0 20px 0 0;
          @include mq(sm) {
            margin: 0 10px 0 0;
          }
        }
      }
      dd {
        width: 100%;
        margin: auto 0;
        min-height: 55px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        @include mq(sm) {
          margin: 0;
          min-height: 42px;
        }
        p {
          margin: 0;
          width: 100%;
          @include mq(sm) {
            margin: 10px 0;
            font-size: 14px;
            line-height: calc(37.52 / 28);
          }
          & + p {
            margin: 20px 0 16px;
            @include mq(sm) {
              margin: 16px auto 10px;
            }
          }
          a {
            text-decoration: underline;
            color: #493d35;
          }
        }
        label {
          width: 100%;
        }
        input[type="text"],
        input[type="email"],
        input[type="tel"] {
          padding: 16px 20px;
          border-radius: 6px;
          border: 1px solid #c4c4c4;
          width: 100%;
          box-sizing: border-box;
          position: relative;
          @include mq(sm) {
            padding: 10px;
          }
          &:has(+ .wpcf7-not-valid-tip) {
            background: #ffebeb;
          }
        }
        textArea {
          width: 100%;
          padding: 16px 20px;
          border-radius: 6px;
          border: 1px solid #c4c4c4;
          box-sizing: border-box;
        }
        input[type="checkbox"] {
          margin: 0 10px 0 0;
          width: 30px;
          height: 30px;
          opacity: 0;
          @include mq(sm) {
            width: 15px;
            height: 15px;
            margin: 0;
          }
          + span {
            font-size: 18px;
            font-weight: bold;
            color: #483c34;
            line-height: 30px;
            @include mq(sm) {
              font-size: 15px;
            }
          }
          &:checked {
            & + .wpcf7-list-item-label::before {
              background: url(img/check-in.png) left center no-repeat;
              border: 1px solid #ee8204;
              @include mq(sm) {
                background: url(img/check-in.png) left center no-repeat;
                background-size: 15px auto;
              }
            }
            + span {
              color: #ee8204;
            }
          }
          .wpcf7-list-item-label {
            position: relative;
            &::before {
              background: #fff;
              border: 1px solid #333;
              border-radius: 20%;
              content: "";
              height: 30px;
              margin-bottom: auto;
              margin-right: 20px;
              margin-top: auto;
              transition: background-color 0.5s;
              width: 30px;
              position: absolute;
              left: -12%;
            }
          }
        }
        .accept {
          p {
            @include mq(sm) {
              margin: 6px auto;
            }
          }
          label {
            min-height: 32px;
            display: flex;
          }
        }
        .wpcf7-list-item {
          margin: 0 0 0 5px;
        }
        .wpcf7-list-item-label {
          position: relative;
          &::before {
            background: #fff;
            border: 1px solid #333;
            border-radius: 20%;
            content: "";
            height: 30px;
            margin-bottom: auto;
            margin-right: 20px;
            margin-top: auto;
            transition: background-color 0.5s;
            width: 30px;
            position: absolute;
            left: -20%;
            @include mq(sm) {
              width: 15px;
              height: 15px;
              left: -12%;
              top: 18%;
            }
          }
        }
      }
    }
    .btn-wrapper {
      display: flex;
      flex-wrap: wrap;
      max-width: 650px;
      width: 100%;
      margin: 0 auto;
      .btn-internal.previous {
        width: calc(100% / 2 - 10px);
        margin: 20px 20px 20px 0;
        @include mq(sm) {
          width: 100%;
          margin: 30px auto 0;
        }
        input[type="button"] {
          display: block;
          width: 100%;
          position: relative;
          max-width: 320px;
          margin: 0 auto;
          padding: 16px 40px;
          background: #fff;
          background-size: 36px 36px;
          border: 3px solid #adcc08;
          box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.2);
          border-radius: 5rem;
          box-sizing: border-box;
          color: #adcc08;
          font-size: 20px;
          font-weight: 700;
          line-height: 1.4;
          text-align: center;
          text-decoration: none;
          @include mq(sm) {
            background: #fff;
            background-size: 21px 21px;
            font-size: 16px;
            max-width: 250px;
            padding: 14px 40px;
          }
        }
        p {
          margin: 0;
        }
      }
      .btn-internal.submit {
        width: calc(100% / 2 - 10px);
        margin: 20px auto;
        @include mq(sm) {
          width: 100%;
        }
        input[type="submit"] {
          max-width: 320px;
          margin: 0 auto;
          width: 100%;
          padding: 16px 40px;
          @include mq(sm) {
            max-width: 250px;
          }
        }
        p {
          margin: 0;
        }
      }
    }
    .btn-internal.submit {
      margin: 40px auto;
      @include mq(sm) {
        margin: 25px auto;
      }
      input[type="submit"] {
        display: block;
        width: 100%;
        position: relative;
        max-width: 320px;
        margin: 0 auto;
        padding: 16px 40px;
        background: #adcc08;
        background-size: 36px 36px;
        border: 3px solid #fff;
        box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.2);
        border-radius: 5rem;
        box-sizing: border-box;
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.4;
        text-align: center;
        text-decoration: none;
        @include mq(sm) {
          font-size: 16px;
          max-width: 250px;
          background: #adcc08;
          background-size: 21px 21px;
        }
      }
      .wpcf7-spinner {
        display: none;
      }
    }
    .btn-internal.download {
      & + .form-txt {
        margin: 54px auto 36px;
        @include mq(sm) {
          margin: 40px auto 24px;
        }
      }
    }
    .btn-internal.download a {
      background: #adcc08 url(img/download-ico.png) no-repeat right 40px
        center;
      background-size: 47px 39px;
      max-width: 515px;
      font-size: 27px;
      padding: 14px 40px;
      @include mq(sm) {
        font-size: 14px;
        background: #adcc08 url(img/download-ico.png) no-repeat right 18px
          center;
        background-size: 21px 18px;
        padding: 4px 40px;
        max-width: 255px;
        border: 2px solid #fff;
      }
    }
    .btn-internal.top a {
      display: block;
      width: 100%;
      position: relative;
      max-width: 320px;
      margin: 0 auto;
      padding: 14px 40px;
      background: #fff;
      background-size: 36px 36px;
      border: 3px solid #adcc08;
      box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.2);
      border-radius: 5rem;
      box-sizing: border-box;
      color: #adcc08;
      font-size: 20px;
      font-weight: 700;
      line-height: 1.4;
      text-align: center;
      text-decoration: none;
      @include mq(sm) {
        font-size: 16px;
        padding: 14px 40px;
        background: #fff url(img/arrow_l-green.png) no-repeat right 10px
          center;
        background-size: 18px 18px;
        max-width: 255px;
        border: 2px solid #adcc08;
      }
    }
    .wpcf7-not-valid-tip {
      font-size: 18px;
      color: #e25925;
      @include mq(sm) {
        font-size: 14px;
      }
    }
    .wpcf7 form.invalid .wpcf7-response-output {
      display: none;
    }
    &.inquiry {
      padding: 64px 35px 40px;
      @include mq(sm) {
        padding: 38px 15px 20px;
        margin: 0 auto 105px;
      }
    }
    &.confirm {
      dl {
        dd.name {
          display: inline-block;
          line-height: 50px;
          @include mq(sm) {
            line-height: 30px;
          }
          .name-last,
          .name-first {
            display: inline;
            vertical-align: middle;
          }
        }
      }
    }
  }
}
