@use "global" as *;

// buttonの設定 
.btn-internal {
    a {
        display: block;
        position: relative;
        max-width: 460px;
        margin: 0 auto;
        padding: 1.5rem 2.5rem;
        background: #ADCC08 url(img/arrow_white.png) no-repeat right 10px center;
        background-size: 36px 36px;
        border: 3px solid #fff;
        box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.2);
        border-radius: 5rem;
        box-sizing: border-box;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.4;
        text-align: center;
        text-decoration: none;
        @media screen and (max-width: 480px) {
            font-size: 16px;
        }
    }
}

.btn-internal.or a {
    background: #EE8204 url(img/arrow_or.png) no-repeat right 10px center;
}

.btn-tel a {
    display: block;
    position: relative;
    max-width: 460px;
    margin: 0 auto;
    padding: 10px 40px;
    background: #fff url(img/tel_icon.png) no-repeat left 10px center;
    background-size: 25px 31px;
    border: 1px solid #707070;
    box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.2);
    border-radius: 5rem;
    box-sizing: border-box;
    color: #483C34;
    font-size: 31px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    text-decoration: none;
}

.btn-tel a .sm {
    font-size: 14px;
    color: #938276;
}
.mainArea .btnArea{
	display: flex;
	flex-wrap: wrap;

}
.mainArea .btnArea .btn-internal{
	max-width: 261px;
	width: calc(100%/3 - rem(18.5));
	margin: 0 rem(37) 0 0;
}
.mainArea .btnArea .btn-internal:nth-child(3n){
	max-width: 260px;
	width: calc(100%/3 - rem(18.5));
	margin: 0 0 0 0;
}
.mainArea .btnArea .btn-internal a{
	display: grid;
	place-content: center;
	width: 100%;
	color: #483C34;
	background: #fff url(img/arrow_green.png) no-repeat right rem(10) center;
	border: 6px solid #ABCD03;
	padding: rem(7) rem(40) rem(7) rem(50);
	font-size: rem(20);
	min-height: 83px;
}
.mainArea .btnArea .btn-internal a::before{
	position: absolute;
	content: "";
	display: block;
	width: 50px;
	height: 41px;
	background: url(img/memo_icon.png) no-repeat left rem(10) center;
	background-size: contain;
	top: 50%;
	transform: translateY(-50%);

}
.btn-internal.page-in{
	max-width: 196px;
	margin: rem(20) auto;

}
.btn-internal.page-in a{
	width: 100%;
	color: #EE8204;
	font-size: rem(16);
	background: #fff url(img/arrow-down_or.png) no-repeat right rem(10) center;
	border: 1px solid #EE8204;
	border-radius: 43px;
	box-shadow: none;
	padding: 10px;
}