@use "global" as *;

.btn-internal{
	a{
		display: block;
    position: relative;
    width: 460px;
    margin: 0 auto;
    padding: 1.5rem 2.5rem;
    background: #5c5c5c url(img/arrow_white.png) no-repeat right 1.5rem center;
    background-size: 7px 11px;
    border: 3px solid #fff;
    box-shadow: 1px 1px 0 #5c5c5c;
    border-radius: 5rem;
    box-sizing: border-box;
    color: #fff;
    font-size: rem(18);
    font-weight: 700;
    line-height: 1.4;
    text-align: center;
    text-decoration: none;
	}
}
.mainArea .btnArea{
	display: flex;
	flex-wrap: wrap;

}
.mainArea .btnArea .btn-internal{
	max-width: 260px;
	width: calc(100%/3 - 2rem);
	margin: 0 2rem 0 0;
}
.mainArea .btnArea .btn-internal a{
	width: 100%;

}