// footer
footer {
    background: #483C34;
    .footer-inner {
        width: 1000px;
        margin: 0 auto;
        padding: 30px 0;
        color: #fff;
        display: flex;
        flex-wrap: wrap;
        @media screen and (max-width: 480px) {
            width: auto;
            padding: 35px 15px 15px;
        }
        a {
            color: #fff;
        }
        .logo-area {
            width: 260px;
            @media screen and (max-width: 480px) {
                width: 100%;
                border-bottom: 1px solid #9E9E9E;
                padding-bottom: 20px;
            }
            p {
                font-size: 12px;
                margin: 20px 0 0;
                @media screen and (max-width: 480px) {
                    margin-top: 0;
                }
            }
        }
        .link-area {
            width: 740px;
            @media screen and (max-width: 480px) {
                width: 100%;
            }
            ul {
                margin: 0 0 16px;
                padding: 0;
                @media screen and (max-width: 480px) {
                    padding: 15px 0;
                    border-bottom: 1px solid #9E9E9E;
                }
                li {
                    font-size: 16px;
                    display: inline-block;
                    @media screen and (max-width: 480px) {
                        display: block;
                    }
                    a {
                        display: block;
                        background: url(img//icon_arrow02.svg) no-repeat 0 8px;
                        padding: 0 14px 0 16px;
                    }
                }
                &.various_provision {
                    padding: 0 0 23px;
                    margin-bottom: 23px;
                    border-bottom: 1px solid #9E9E9E;
                    li:first-child {
                        display: block;
                    }
                }
            }
            .registration_trademark {
                font-size: 12px;
            }
        }
    }
    .footer-copy-wrapper {
        background-color: #fff;
        color: #493D35;
        text-align: center;
        font-size: 12px;
        padding: 10px 0;
        @media screen and (max-width: 480px) {
            padding: 5px 0;
        }
        a {
            color: #493D35;
        }
    }
}