
#visArea_nihongo{
    background-color: #fff;
    
    .mainArea__inner{
        max-width: 860px;
        margin: 0 auto;
    }
}
#visArea_nihongo .subTitArea{
    display: block;
}
#visArea_nihongo .mainArea__subtit{
    text-align: center;
    margin: 0 auto;
    max-width: 36ox;
}
#visArea_nihongo .mainTxtBox{
    text-align: center;
}
