
#visArea_nihongo{
    background-color: #fff;
    
    .mainArea__inner{
        max-width: 860px;
        margin: 0 auto;
    }
}
#visArea_nihongo .<div class="mainArea__subtit">「介護福祉士」資格取得を<br> サポートする日本語教育プログラム
</div>
#visArea_nihongo .mainTxtBox{
    text-align: center;
}
